name: CI/CD Android Cloud Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm install

      - name: Build on Expo Cloud
        # --local is GONE. We are now building on Expo's servers.
        # --wait tells GitHub to stay active until the APK is ready.
        run: |
          eas build --platform android --profile production --non-interactive --wait --output=./app-release.apk

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Distribute to Firebase
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' > firebase-key.json
          export GOOGLE_APPLICATION_CREDENTIALS=firebase-key.json
          firebase appdistribution:distribute ./app-release.apk \
          --app "1:773349551035:android:152ae5a7db9ef1aff3729e" \
          --groups "testers"